<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCFKtXyh4biEr2dz3wCf6u2I9lhE3sXZfc</string>
	<key>GCM_SENDER_ID</key>
	<string>821321387186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.appamore.harbor</string>
	<key>PROJECT_ID</key>
	<string>harbor-9c856</string>
	<key>STORAGE_BUCKET</key>
	<string>harbor-9c856.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821321387186:ios:5a41c376d6327008040dab</string>
</dict>
</plist>